<%= t '.title' %>

<%= t '.body', full_name: @user.full_name %>

<%= t '.confirm_link_html', link: link_to('@confirmation_link', @confirmation_link) %>

<%= t '.thanks_html', link: link_to('Colcho.net', root_url) %>
