<h1>Usuários cadastrados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Exibir', user, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class => "btn btn-info btn-sm" %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo Quarto', 'cadastrar-novo-quarto', :class => "btn btn-primary" %>