<h1><%= t'.title', user_name: @user.full_name %></h1>
<ul>
  <li><%= t'.location', location: @user.location %></li>
  <li><%= t'.bio', bio: @user.bio %></li>
</ul>
<%= link_to t('.edit'), edit_user_path(@user),  :class => "btn btn-primary btn-sm" %>
<%= link_to 'Home', root_path, :class => "btn btn-danger btn-sm" %>