      <article class="room">
        <h2><%= room.title %></h2>
        <span class="created">
          <%= t '.owner_html', owner: room.user.full_name, when: l(room.created_at, format: :short) %>
        </span>
        <p>
          <span class="location">
            <%= link_to room.location, "https://maps.google.com/?q=#{room.location}", target: :blank %>
          </span>
        </p>
        <p>
          <%= room.description %>
        </p>
        <% if belongs_to_user(room) %>
          <p>
            <%= link_to 'Editar', edit_room_path(room), :class => "btn btn-info btn-sm" %> <%= link_to 'Excluir', room, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
          </p>
        <% end %>
       </article>