<h1><%= t'.title' %></h1>

    <% @rooms.each do |room| %>
      <%= render partial: @rooms, object: current_user.rooms.first %>
    <% end %>

<br>

<%= link_to 'Cadastrar Novo Quarto', 'cadastrar-novo-quarto', :class => "btn btn-primary" %>
