        <nav>
          <ul>
            <li><%= nav_link t('layout.new_room'), new_room_path %></li>
            <li><%= nav_link t('layout.rooms'), rooms_path %></li>
            <li><%= nav_link t('layout.my_profile'), user_path(current_user) %></li>
            <li><%= link_to t('layout.signout'), user_sessions_path, method: :delete %></li>
          </ul>
        </nav>