        <nav>
          <ul>
            <li><%= nav_link t('layout.rooms'), rooms_path %></li>
            <li><%= nav_link t('layout.signup'), new_user_path %></li>
            <li><%= nav_link t('layout.signin'), new_user_sessions_path %></li>
          </ul>
        </nav>